name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore ./tests/FileDependencyAnalyzer.Tests/FileDependencyAnalyzer.Tests.csproj

      - name: Build (Release)
        run: dotnet build ./tests/FileDependencyAnalyzer.Tests/FileDependencyAnalyzer.Tests.csproj -c Release --no-restore

      - name: Test (Release)
        run: dotnet test ./tests/FileDependencyAnalyzer.Tests/FileDependencyAnalyzer.Tests.csproj -c Release --no-build
